body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #EEE7CE;
}

h1{
    font-family: 'Anek Malayalam', sans-serif;
font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #006A6A;}

h2{
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #006A6A;
}

p{
    font-family: 'Neuton', serif;
    font-size: 20px;
}

.section {
    margin:5%
}
.section p{
    word-wrap: break-word; /* Permite que las palabras se rompan */

}

#map{
    margin: 0 auto;
    height: 250px;
    width: 40%;
    border: 1px solid #000
}

#fondoDiv {
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out;
    margin: 0 auto;
}



/* Ajustes específicos para dispositivos móviles */
@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    P{
        font-size: 20PX;
    }

    .section {
        padding: 15px;
        margin: 15px;
    }

    #fondoDiv {
        width: 80%;
        height: 400px;
    }

    #map{
        margin: 0 auto;
        height: 250px;
        width: 80%;
        border: 1px solid #000
    }
}





